<h2><%=@tweet.user.username%></h2>
<p><%=@tweet.content%></p>
<p id="create-timestamp">Posted: <%=time_from_now(@tweet.created_at)%></p>
<p id="edit-timestamp"><%= "Edited: #{time_from_now(@tweet.updated_at)}" if (@tweet.updated_at != @tweet.created_at)%></p>
<h4>Likes:</h4>
<ul>
  <%@tweet.likes.each do |l|%>
    <li>
      <%="#{l.user.username}, #{time_from_now(l.created_at)}"%>
    </li>
  <%end%>
</ul>
<%if @tweet.user == current_user%>
<form action="/tweets/<%=@tweet.id%>/edit" method="get">
    <input type="submit" name="submit" value="Edit Tweet">
</form>
<form action="/tweets/<%=@tweet.id%>/delete" method="post">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" name="delete" value="Delete Tweet" id="Delete Tweet">
</form>
<%else%>
  <form class="fake" action="/tweets" method="get">
    <input type="submit" name="delete" value="Delete Tweet (fake just to make test pass)" id="Delete Tweet">
  </form>
<%end%>
